body{
  background-image: url("../images/thunderbird.jpg");
  background-repeat: no-repeat;
  background-position: right top;
  background-attachment: fixed;
  background-size: cover;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-left: 15px;
}
.carLogo {
  width: 130px;
}
.topHeader {
  display: flex;
  flex-direction: row;
  border-style:outset;
  justify-content: space-between;
  background-color: black;
  margin: -13px;
  border-width: 15px;
}
.topNav{
  display: flex;
  justify-content: flex-end;
  font-family: 'Darker Grotesque', sans-serif;
}
.middleHeader {
  display: flex;
  justify-content: center;
  border-style:solid;
  margin: -13px;
  border-style: inset;
  border-width: inherit;
}
h1 {
  font-family: 'EB Garamond', serif;
  font-size: 45px;
  color: white;
}
h2 {
  font-family: 'EB Garamond', serif;
  color: white;
  text-decoration: underline;
}
.nav-list {
  display: flex;
  justify-content: space-evenly;
  padding: 0px;

}

.nav-buttons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: inset;
  background-color: white;
  border-radius: 100px;
}

.nav-buttons a {
  color: #555;
  text-decoration: none;
  font-size: 1.5em;

}

.svg-image-nav {
  width: 25%;
  height: 65%;
}
ul {
  list-style-type: none;

}
.nav-list {

}
