body{
  background-image: url("../images/thunderbird.jpg");
  background-repeat: no-repeat;
  background-position: right top;
  background-attachment: fixed;
  background-size: cover;
}
.topHeader a:hover{
  cursor: pointer;
}
.topHeader a {
display: flex;
flex-direction: column;
justify-content: space-between;
padding-right: 15px;
color: white;
font-family: "EB Garamond", serif;
text-decoration: none;
}
.carLogo {
  width: 130px;
}
.topHeader {
  display: flex;
  flex-direction: row;
  border-style:outset;
  justify-content: space-between;
  background-color: black;
  margin: -13px;
  border-width: 15px;
}
.topNav{
  display: flex;
  font-family: 'Darker Grotesque', sans-serif;
  flex-direction: column;
  justify-content:space-around;
  text-align: center;


}
.middleHeader {
  display: flex;
  justify-content: center;
  border-style:solid;
  margin: -13px;
  border-style: inset;
  border-width: inherit;
}
h1 {
  font-family: 'EB Garamond', serif;
  font-size: 45px;
  color: white;
}
h2 {
  font-family: 'EB Garamond', serif;
  color: white;
  text-decoration: underline;
}
.nav-list {
  display: flex;
  justify-content: space-evenly;
  padding: 0px;


}
.nav-buttons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: inset;
  background-color: white;
  border-radius: 100px;
}

.nav-buttons a {
  color: #555;
  text-decoration: none;
  font-size: 1.5em;

}

.svg-image-nav {
  width: 25%;
  height: 65%;
}
ul {
  list-style-type: none;

}
.topHeader a{
  list-style: none;
}

/*Location Page*/
.middleHeaderlocation p{
  font-family: 'EB Garamond', serif;
  color: white;
  font-size:40px;
  text-align: center;
  background-color: #514d4e;
  padding: 26px;
  margin-right:210px;
  margin-bottom: 10px;
  margin-top:30px;
  margin-left: 210px;
  border-style: inset;
  border-style: inset;
  border-width: 5px;
}

.googlelocation {
  display: flex;
  justify-content: center;
}

.googlepic{
  border: 10px solid #514d4e;
  padding: 1px;
  max-width: 55%;
  border-style: inset;
  border-width: 5px
}
.middleHeaderlocation h2 {
  font-family: 'EB Garamond', serif;
  color: white;
  font-size: 70px;
  text-align: center;
  text-decoration: none;
}
/*Responsive Mobile               */


@media screen and (max-width: 880px) {

  .topHeader{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
  }
  .middleHeader h2{
    text-align: center;

  }
  h1{
    text-align: center;
    font-size: 17px;
  }
  .topHeader ul {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .googlepic{
    border: 10px solid #514d4e;
    padding: 1px;
    display: flex;
    justify-content: center;
    max-width: 100%;
    max-height: 100vh;
    margin: auto;
    margin-top: 10px;
  }
    .middleHeaderlocation h2 {
      font-family: 'EB Garamond', serif;
      color: white;
      font-size:70px;
      text-align: center;
      text-decoration: none;

  }
  .middleHeaderlocation p {
    font-family: 'EB Garamond', serif;
    color: white;
    font-size:20px;
    text-align: center;
    background-color: #514d4e;
    display: flex;
    justify-content: center;
    margin: 0px;
    padding: 7px;

  }
